name: main

on:
  push:
    branches: [main]

jobs:
  run-live-tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout test repo
        uses: actions/checkout@v4
        with:
          repository: sachanand/event-certificate-wm-test-automation-playwritght-25-26
          path: .
          ref: feature
          token: ${{ secrets.PAT_TOKEN }}

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '18'

      - name: Install NPM dependencies
        run: |
          npm install

      - name: Install Chromium for Playwright
        run: |
          npx playwright install chromium

      - name: Run LIVE functional tests
        id: tests
        run: |
          BASE_URL="https://certificate.webmobi.com/"
          echo "Using BASE_URL=$BASE_URL"
          npm test functional || echo "TESTS_FAILED=true" >> $GITHUB_ENV

      - name: Publish final test status
        uses: actions/github-script@v7
        with:
          github-token: ${{ secrets.PAT_TOKEN }}
          script: |
            const failed = process.env.TESTS_FAILED === "true";

            await github.rest.repos.createCommitStatus({
              owner: context.repo.owner,
              repo: context.repo.repo,
              sha: context.sha,
              state: failed ? 'failure' : 'success',
              context: 'main',
              description: failed ? '❗ Functional tests failed' : '✅ Functional tests passed',
            });
